* {
  margin: 0px;
  padding: 0px;
}
#titulo1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 3em;
  font-weight: 600;
  margin: auto;
  color: #68228b;
  padding: 20px;
  text-align: center;
}
#p1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  margin: auto;
  padding: 10px;
  color: white;
  text-align: center;
}
fieldset {
  border: 0px;
}

body {
  background-color: #009acd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  color: blanchedalmond;
  margin: 2%;
  padding: 2%;
  justify-content: center;
  margin: 6%;
}

input,
select,
textarea,
button {
  border-radius: 5px;
  padding: 5px;
}

.campo {
  margin-bottom: 2em;
}

.campo label {
  margin: 0.5px;
  height: 20px;
  display: inline-flex;
  text-align: justify;
}

.campo label[name='tipo'] {
  padding-top: 1.5em;
}

.campo2 label {
  display: block;
  padding-right: 2em;
  text-align: auto;
}

.campo input[type='radio'] {
  padding: 5px;
  display: block;
}

.div .campo {
  margin: 16px;
}
